<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AdminLTE 3 | Recover Password (v2)</title>

	<!-- Google Font: Source Sans Pro -->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<link rel="stylesheet" th:href="@{/dist/bootstrap-4.5.2/css/bootstrap.min.css}" />
	<!-- Theme style -->
	<link rel="stylesheet" th:href="@{/css/adminlte.min.css}">
	<base href="/"/>
</head>

<body class="hold-transition login-page">
	<div class="login-box">
		<div class="card card-outline card-primary">
			<div class="card-header text-center">
				<a href="/" class="h1"><b>SaBo</b>Restaurant</a>
			</div>
			<div class="card-body">
				<p class="login-box-msg">Hãy nhập mật khẩu mới của bạn</p>
				<form name="recoverForm" class="needs-validation" action="/recover" method="post" novalidate>
					<div class="input-group mb-3">
						<input name="password" type="password" class="form-control" placeholder="Mật khẩu"
							pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
						<div class="invalid-feedback">
							Mật khẩu hợp lệ cần có:<br/>
							- Ít nhất 8 ký tự.<br/>
							- Ít nhất 1 chữ cái.<br/>
							- Ít nhất 1 số<br/>
						</div>
					</div>
					<div class="input-group mb-3">
						<input name="password_confirm" type="password" class="form-control"
							placeholder="Xác nhận mật khẩu" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
						<div class="invalid-feedback">
							Mật khẩu hợp lệ cần có:<br/>
							- Ít nhất 8 ký tự.<br/>
							- Ít nhất 1 chữ cái.<br/>
							- Ít nhất 1 số<br/>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<button type="submit" class="btn btn-primary btn-block">Đổi mật khẩu</button>
						</div>
						<!-- /.col -->
					</div>
				</form>

				<p class="mt-3 mb-1">
					<a href="/login">Quay về trang đăng nhập</a>
				</p>
			</div>
			<!-- /.login-card-body -->
		</div>
	</div>
	<!-- /.login-box -->

	<!-- jQuery -->
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<!-- Bootstrap 4 -->
	<script th:src="@{/dist/bootstrap-4.5.2/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
	<script th:src="@{/webjars/sweetalert2/dist/sweetalert2.all.min.js}"></script>
	<!-- AdminLTE App -->
	<script th:src="@{/js/adminlte.min.js}"></script>
</body>
<script>
	$(document).ready(function () {
		let params = new URLSearchParams(window.location.search);
		let token = params.get("token");

		if (!token) {
			Swal.fire(
				'Thông báo',
				"Yêu cầu không hợp lệ",
				'error'
			).then(() => {
				window.location.replace("/login");
			});
		}

		$("form[name=recoverForm]").on("submit", function (e) {
			e.preventDefault();
			e.stopPropagation();

			let form = $(this);

			if (form[0].checkValidity() === false) {
				//Failed
				form.addClass('was-validated');
				return;
			} else if (form.find("input[name=password]").val() !== form.find("input[name=password_confirm]").val()) {
				Swal.fire(
					'Thông báo',
					"Mật khẩu xác nhận và mật khẩu phải khớp với nhau!",
					'error'
				).then(() => {
					return;
				});
			}

			let data = {
				"token": token,
				"password": form.find("input[name=password]").val()
			};

			form.find("button[type=submit]").html(`<div class="spinner-border" role="status">
  														<span class="sr-only">Loading...</span>
												</div>`).prop("disabled", true);

			$.ajax({
				url: `/recover`,
				type: "POST",
				data: JSON.stringify(data),
				contentType: "application/json",
				cache: false,
				headers: {
					"accept": "application/json",
					"Access-Control-Allow-Origin": "*"
				},
				beforeSend: function (xhr, settings) {
					if (typeof CSRFToken === "string")
						xhr.setRequestHeader('X-CSRF-Token', CSRFToken);
				},
				success: function (data, statusText, jqXHR) {
					form.find("button[type=submit]").html(`Đổi mật khẩu`).prop("disabled", false);

					Swal.fire(
						'Thông báo',
						"Đổi mật khẩu thành công!",
						'success'
					).then(() => {
						window.location.replace("/login");
					});
				},
				statusCode: {
					400: function (response) {
						form.find("button[type=submit]").html(`Đổi mật khẩu`).prop("disabled", false);

						Swal.fire(
							'Thông báo',
							"Yêu cầu không hợp lệ",
							'error'
						).then(function () {
							window.location.replace("/login");
						});
					},
					404: function (response) {
						form.find("button[type=submit]").html(`Đổi mật khẩu`).prop("disabled", false);

						Swal.fire(
							'Thông báo',
							"Xin lỗi, không tìm thấy tài khoản này",
							'error'
						)
					},
					410: function (response) {
						form.find("button[type=submit]").html(`Đổi mật khẩu`).prop("disabled", false);

						Swal.fire(
							'Thông báo',
							"Xin lỗi, đường link này đã hết hạn",
							'error'
						).then(function () {
							window.location.replace("/login");
						});
					},
					500: function (response) {
						form.find("button[type=submit]").html(`Đổi mật khẩu`).prop("disabled", false);

						Swal.fire(
							'Thông báo',
							"Xin lỗi, đã xảy ra sự cố",
							'error'
						)
					}
				}
			}).catch(function () {
				return false;
			});
		});
	});
</script>

</html>